<header>
    <div class="container">
        <div class="logo">
            <h1><a href="index.html" style="text-decoration: none; color: inherit;">Indivisible Fitchburg MA</a></h1>
        </div>
        <div class="header-right">
            <div class="header-social">
                <a href="https://www.facebook.com/groups/1368020931291270" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="mailto:contact@indivisiblefitchburgma.org"><i class="fas fa-envelope"></i></a>
                <a href="https://bsky.app/profile/indivisiblefitchma.bsky.social" target="_blank"><i class="fab fa-bluesky"></i></a>
                <a href="https://www.instagram.com/indivisiblefitchma/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">5 Things</a>
                        <ul class="dropdown">
                            <li><a href="5things.html">5 Things You Can Do</a></li>
                            <li><a href="5sites.html">5 Sites to Fight Misinformation</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html#about">About</a></li>
                    <li><a href="index.html#join">Join Us</a></li>
                    <li><a href="index.html#resources">Resources</a></li>
                    <li><a href="index.html#events">Events</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>